@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BusinessObjects.Models.Enrollment

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<h2>Add Member In Class: @ViewBag.Student.ClassCode</h2>

<form asp-controller="Enrollment" asp-action="AddMember" method="post">
    <div class="form-group">
        <label asp-for="ClassId" class="control-label"></label>
        <input asp-for="ClassId" class="form-control" value="@ViewBag.Student.ClassId"/>
        <span asp-validation-for="ClassId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Select Students</label><br />
        <select id="studentTags" name="StudentIds" class="form-control" multiple="multiple" style="width: 100%;">
            <!-- Các option sẽ được thêm qua AJAX -->
        </select>

        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Member </button>
    </div>
</form>

<h4 style="color:red">@ViewBag.Message</h4>



<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        $('#studentTags').select2({
            placeholder: 'Search for students',
            minimumInputLength: 1,
            ajax: {
                url: '/Enrollment/SearchStudents',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                id: item.studentId,
                                text: item.studentCode.toString().padStart(5, '0') + ' - ' + item.fullName // Định dạng studentCode
                            };
                        })
                    };
                },
                cache: true,
                error: function (xhr, status, error) {
                    console.error('Error fetching students:', status, error);
                    alert('Có lỗi xảy ra khi tìm kiếm sinh viên.');
                }
            }
        });
    });

</script>

